@font-face {
    font-family: 'Open Sans Regular';
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url("../fonts/OpenSans-Semibold.eot");
    src: url("../fonts/OpenSans-Semibold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url("../fonts/OpenSans-BoldItalic.eot");
    src: url("../fonts/OpenSans-BoldItalic.eot") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url("../fonts/OpenSans-Light.eot");
    src: url("../fonts/OpenSans-Light.eot") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light Italic';
    src: url("../fonts/OpenSans-LightItalic.eot");
    src: url("../fonts/OpenSans-LightItalic.eot") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url("../fonts/Intro.eot");
    src: url("../fonts/Intro.eot") format("embedded-opentype"), url("../fonts/Intro.woff") format("woff"), url("../fonts/Intro.ttf") format("truetype"), url("../fonts/Intro.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
    color: #000000;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    /*font-family: 'Intro', sans-serif;
    font-size: 36px;*/
}
h2 {
    font-family: 'Intro', sans-serif;
    font-size: 36px;
}
h3 {
    font-family: 'Open Sans Light Italic', sans-serif;
    font-size: 30px;
}
h4 {
    font-family: 'Intro', sans-serif;
    font-size: 18px;
}

ul li {
    display: inline-block;
    vertical-align: middle;
}

.in-wide {
    -moz-text-align-last: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    text-align: justify;
}

.container, .container .row div {
    outline: 1px solid #ff0000;
}

nav ul {
    padding-left: 0;
}

.text-green {color: #5cb85c;}
.text-white {color: #ffffff;}
.text-blue {color: #175d7f}

.with-decor {
    position: relative;
}
.with-decor:before {
    content: '';
    display: block;
    width: 111px;
    height: 40px;
    background: transparent url('../images/block-decor.png') no-repeat center;
    background-size: cover;
    position: absolute;
    margin: auto;
    top: -40px;
    left: 0;
    right: 0;
}

.fill-light-blue {
    background-color: #eff4f7;
}

/******************************
********** header *************
******************************/


/******************************
********** about-us *************
******************************/
#about-us {
    background: transparent url('../images/background-about-us.jpg') no-repeat center;
    background-size: cover;
}

/******************************
********** ask question *************
******************************/
.ask-question-block {
    background-color: #5cb85c;
}
/******************************
********** advantages *************
******************************/

/******************************
********** our-team *************
******************************/
#our-team {
    background: transparent url('../images/background-our-team.jpg') no-repeat center;
    background-size: cover;
}
/******************************
********** work scheme *************
******************************/

/******************************
********** services *************
******************************/

/******************************
********** questions *************
******************************/
.questions {
    background: transparent url('../images/background-questions.jpg') no-repeat center;
    background-size: cover;
}
/******************************
********** achievements *************
******************************/
.achievements {
    background: transparent url('../images/background-acievments.jpg') no-repeat center;
    background-size: cover;
}
/******************************
********** BLOCK *************
******************************/

/******************************
********** BLOCK *************
******************************/


